* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color: #f1f1f1;
    --yellow-color: #f8cb43;
    --red-color: #bc0642;
    --background-color: #232323;
}

body {
    font-family: Poppins;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-rendering: optimizeSpeed;
}

button,
input {
    border: unset;
    cursor: pointer;
}

iframe {
    border: 0;
    overflow: visible !important;
    width: 100%;
}

a {
    text-decoration: none;
}

/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 50%;
}

::-webkit-scrollbar-track {
    background-color: #888;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-color);
}
