.wrapper {
    background-image: url(/FrontEnd/assets/img/Black_background_img.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 440px;
    background-color: var(--background-color);
    padding: 30px;
}

.change_form {
    display: flex;
    border-radius: 6px;
    border: 0.8px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    justify-content: center;
    margin: 20px 0;
}

.login_btn,
.register_btn {
    padding: 12px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 3px;
    flex: 1;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 4px;
}

.login_btn {
    
}

.register_btn {
}

.active {
    background-color: var(--text-color);
    color: var(--background-color);
}

.login_form,
.register_form {
    display: none;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.list-nation, input, span {
    padding: 12px;
    color: var(--text-color);
    background-color: #2e2e2e;
    flex: 1;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4px;
    border: 0.8px solid rgba(255, 255, 255, 0.7);
}

label{    
    font-size: 1.6rem;
    margin-bottom: 6px;
    font-weight: 600;
}

.wrapper-chosing-nation{
    position: relative;
}

.icon-down{
    position: absolute;
    right: 20px;
    top: 50px;
}

.select-nations{
    display: flex;
    flex-direction: column;
}

.nation-option{
    flex: 1;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 0;
    border-radius: 0;
    text-align: center;
    font-size: 2rem;
}

.nation-option:hover{
    cursor: pointer;
    background-color: rgb(217, 218, 221);
}

.nation-option:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nation-option:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.login_submit,.register_submit {
    flex: 1;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--red-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin:8px 0;
}

.forget-password {
    text-align: right;
    text-decoration:underline;
}


.link_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.wrapper_icon-webchat,
.wrapper_icon-google {
    height: 34px;
    width: 34px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_icon-webchat{
    background-color: #01C15F;
}

.icon-google,.icon-facebook  {
    height: 20px;
    width: 20px;
}

.icon-facebook {
    font-size: 4rem;
    color: #1A77F2;
}

.open{
    display: flex;
}